body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding-top: 30px;
}
h1 {
    text-align: center;
}
form {
    background: #fff;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
#campos div {
    display: flex;
    flex-direction: column;
}
input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    /* width: min-content; */
}
input[type="submit"] {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #4e9645;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;
}
input[type="submit"]:hover {
    background: #4e9645;
}
input[obligatorio]{
    background-color: #fbff0042;
}
input[disabled]{
    background-color: #46464641;
}
.errorCampo {
    font-size: 13px;
    margin-top: 3px;
}
.resultado {
    max-width: 1200px;
    width: max-content;
    margin: 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 15px;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background: #e6e6e6;
    font-weight: bold;
    
}

table tr:nth-child(even) {
    background: #f7f7f7;
}

table tr:hover {
    background: #e2f3e2;
}